.App {
  text-align: center;
  background-color: #70a7db;
  padding-bottom: 100px;
  width: 100%;
}

.titleHead, .login {
  background-color: #94b9db;
  color: white;
  height: 50%;
  font-family: sans-serif;
  font-weight: 500;
  border-radius: 5px; 
  border-style: solid;
}

.titleHead{
  border-width: 7px;
  border-color: #547ca2;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px; 
  font-size: 40px;
  padding: 15px;
  height: 50%;
  box-sizing: border-box;
  padding: 15px;
  
}

.login {
  border-color: #94b9db;
  border-width: 1px;
  border-style: solid;
  margin: 0 auto;
  margin-bottom: 25px;
  width: 55%;
  height: 250px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;

}

.loginTitle{
  font-weight: 600;
  font-size: 30px;
}

.dashTitle{
  font-weight: 600;
  font-size: 30px;
  margin: 30px;
}

.loginInput {
  font-size: 20px;
  display: block;
  margin: 15px;
}

input{
  color: black;
}

.loginInput::placeholder{
  color: gray;
}

.submission {
  background-color: #547ca2;
  border-color: #547ca2;
  color: white;
  border-style: solid;
  height: 50px;
  width: 200px;
  border-radius: 10px;
  font-size: 15px;
  margin: 10px;
}

.submission:focus{
  background-color: white;
  border-color: white;
  color: #547ca2;
}

.dash-main{
  background-color: #94b9db;
  color: white;
  border-color: #94b9db;
  margin: 0 auto;
  width: calc(100% - 40px);
  max-width: 1070px;
  font-family: sans-serif;
  font-weight: 500;
  border-radius: 5px; 
  border-style: solid;
}

.calendar{
  /* background-color: #eb7b6c;  */
  background-color: #eb6553;
  
}
.medSchedule{
  /* background-color: #ecc14b; */
  background-color: #ef9756;
 
}

.container1, .container2{
  display: flex;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.notes{
  /* background-color: #b26ceb; */
  background-color: #efc656;
}
.form{
  /* background-color: #32a852; */
  background-color:#39b35a;
}

.calendar, .medSchedule, .notes, .form{
  width: calc(100% - 50px);
  max-width: 500px;
  /* height: calc(100% - 90px); */
  margin: 0 auto;
  margin-bottom: 25px;
  height: 300px;
  border-radius: 10px;
}

.sitelink:focus{
  color: white;
}

img {
  width: 225px;
  height: 225px;
  margin: 5px;
}




  
  
  
  

/*
width: calc(50% - 40px);
  height: 500px;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;

  .container1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
    min-width:fit-content;
  }


  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px;
  flex-wrap: wrap;*/